.container {
  background-color: #001a66;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff81;
  border-radius: 15px;
  padding: 30px;
  width: 1000px;
  margin: 10px 20px;
}
