/* Input */
.formInput {
  padding: 10px 12px;
  font-size: 16px;
  border: 1.5px solid #ccd6dd;
  border-radius: 8px;
  background-color: #f9fafb;
  outline: none;
  transition: all 0.3s ease;

  /* ขนาดที่ยืดหยุ่น */
  width: 100%; /* ยืดเต็มพื้นที่ของคอนเทนเนอร์ */
  max-width: 400px; /* กำหนดความกว้างสูงสุด */
  min-width: 200px; /* กำหนดความกว้างขั้นต่ำ */
  box-sizing: border-box; /* ให้ padding รวมอยู่ใน width */
}

/* สำหรับ header */
.header {
  background-color: #1a2574;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 30px;
}

.gridHeader {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
  padding: 20px;
}

.gridHeaderItem1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  color: white;
  gap: 40px;
}

.gridHeaderItem2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  color: white;
  gap: 20px;
}

.gridHeaderItem3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  color: white;
  gap: 30px;
}

.gridHeaderButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffea00;
  color: #001a66;
  border: none;
  border-radius: 8px;
  padding: 15px 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.gridHeaderButton:hover {
  background-color: #ffd633;
}

.gridHeaderItem1 p,
.gridHeaderItem2 p,
.gridHeaderItem3 p {
  font-size: 2rem;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: all 0.3s ease;
  color: #ffffff;
}

.gridHeaderItem1 p:hover,
.gridHeaderItem3 p:hover {
  color: #ffd633;
}

/* Main */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 30px;
  background-color: #ffffff;
}

.formContainer {
  max-width: 800px;
  width: 100%;
  justify-content: center;
  padding: 10px;
  border-radius: 25px;
}

.textTitleHeader {
  color: #101010;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 20px;
}

.textTitleHeaderDisplay {
  background-color: #ffed9f;
  color: #101010;
  font-size: 30px;
  font-weight: 700;
  padding: 0px 10px;
  border-radius: 15px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
  background-color: #fff;
  gap: 20px;
  border-radius: 15px;
  padding: 30px;
}

.forRedBackgroundColor {
  background-color: #ffd3d3;
}

/* Section 1 */
.formGroupSection1 {
  display: grid;
  grid-template-rows: 1fr;
  flex-direction: row;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 5px solid #00175c15;
  background-color: #ffffff;
  padding: 15px;
  gap: 5px;
  width: auto;
}

.formSubGroup1Section1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 5px;
}

.formSubGroup2Section1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 5px;
}
.formSubGroup3Section1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 5px;
}
.formSubGroup4Section1 {
  display: grid;
  justify-content: center;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 5px;
}

.formSubGroup5Section1 {
  display: grid;
  place-content: center;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 5px;
}

.formSubGroup6Section1 {
  display: grid;
  place-content: center;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 5px;
}
.formSubGroup7Section1 {
  display: grid;
  place-content: center;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 5px;
}
.formSubGroup8Section1 {
  display: grid;
  place-content: center;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 5px;
}

.formSubGroup1Section1Row1,
.formSubGroup1Section1Row2 {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid #00175c15;
  flex-direction: row;
}

.formSubGroup2Section1Row1,
.formSubGroup2Section1Row2 {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid #00175c15;
  flex-direction: row;
}
.formSubGroup3Section1Row1,
.formSubGroup3Section1Row2 {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid #00175c15;
  flex-direction: row;
}

.formSubGroup4Section1Row1,
.formSubGroup4Section1Row2 {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid #00175c15;
  gap: 10px;
  box-sizing: border-box;
}

.formSubGroup4Section1Row1 .textLabel,
.formSubGroup4Section1Row2 .textLabel {
  text-align: right;
  padding: 0.5rem;
  font-size: 16px;
  font-weight: 700;
  background-color: #ffdf51;
  color: #101010;
  border-radius: 5px;
}

.formSubGroup5Section1Row1,
.formSubGroup5Section1Row2 {
  display: grid;
  flex-direction: row;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0.5rem;
  height: 100%;
  min-height: auto;
  border: 2px solid #00175c15;
}
.formSubGroup6Section1Row1,
.formSubGroup6Section1Row2 {
  display: grid;
  flex-direction: row;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0.5rem;
  height: 100%;
  min-height: auto;
  border: 2px solid #00175c15;
}
.formSubGroup7Section1Row1,
.formSubGroup7Section1Row2 {
  display: grid;
  flex-direction: row;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 0.5rem;
  height: 100%;
  min-height: auto;
  border: 2px solid #00175c15;
}
.formSubGroup8Section1Row1,
.formSubGroup8Section1Row2 {
  display: grid;
  flex-direction: row;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 0.5rem;
  height: 100%;
  min-height: auto;
  border: 2px solid #00175c15;
}

.textDataArea {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid #00175c15;
  flex-direction: row;
  border: 1.5px;
  min-height: 150px;
}

.textLabel {
  background-color: #ffdf51;
  width: max-content;
  height: max-content;
  color: #101010;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  margin: 0px 10px 0px 0px;
}

.textData {
  width: fit-content;
  height: auto;
}

/* Horizontal */
.LineHrSection1_2 {
  border: 2px solid #00175c15;
  border-radius: 15px;
  margin: 0px 10px;
  color: #00175c15;
}

/* Section 3 */
.formGroupSection3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 5px solid #00175c15;
  background-color: #ffffff;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.formSubGroup1Section3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.formSubGroup1Section3Row1,
.formSubGroup1Section3Row2 {
  justify-self: center;
  max-width: 120px;
  max-height: fit-content;
}

.formSubGroup1Section3Row1SubRow1,
.formSubGroup1Section3Row2SubRow1,
.formSubGroup1Section3Row3SubRow1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.formGlProdLabel,
.formGlmtLabel {
  padding: 5px;
  border: 2px solid #00073740;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 700;
}

.imgGlmtSign,
.imgGlProdSign {
  border: 2px solid #00073740;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.formLabelTestText {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.formLabelTestDisplay {
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.formGlmtDate,
.formGlProdDate {
  font-size: 14px;
}
