.footer {
  background-color: #333;
  color: white;
  height: 50px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: right;
}

.footer span {
  font-size: 1em;
  font-weight: 400;
  transition: all 0.4s ease;
}

.footer span:hover {
  color: #ffd633;
  
}
