.container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* สำหรับ header */
.header {
  background-color: #1a2574;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 30px;
}

.gridheader {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.gridHeaderItem1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  color: white;
  gap: 40px;
}

.gridHeaderItem2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  color: white;
  gap: 30px;
}

.gridHeaderButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffea00;
  color: #001a66;
  border: none;
  border-radius: 8px;
  padding: 15px 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.gridHeaderButton:hover {
  background-color: #ffd633;
}

.gridHeaderItem1 p,
.gridHeaderItem2 p {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: all 0.3s ease;
}

.gridHeaderItem1 p:hover,
.gridHeaderItem2 p:hover {
  color: #ffd633;
}

/* สำหรับ sub header ที่เป็น dropdown */
.subHeader {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.gridsubHeader {
  background-color: #000c5e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 20px 10px;
}

.gridsubHeaderItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  color: white;
  gap: 50px;
}

/* สำหรับ Main (เนื้อหา) */
.main {
  background-color: #000737;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  height: 650px;
}
.main p {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  font-size: 2rem;
}
