.container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

/* สำหรับ header */
.header {
  background-color: #1a2574;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 30px;
}

.gridheader {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.gridHeaderItem1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  color: white;
  gap: 40px;
}

.gridHeaderItem2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  color: white;
  gap: 30px;
}

.gridHeaderButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffea00;
  color: #001a66;
  border: none;
  border-radius: 8px;
  padding: 15px 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.gridHeaderButton:hover {
  background-color: #ffd633;
}

.gridHeaderItem1 p,
.gridHeaderItem2 p {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: all 0.3s ease;
}

.gridHeaderItem1 p:hover,
.gridHeaderItem2 p:hover {
  color: #ffd633;
}

/* สำหรับ sub header ที่เป็น dropdown */
.subHeader {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.gridsubHeader {
  background-color: #000c5e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 20px 10px;
  font-weight: 900;
}

.gridsubHeaderItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  color: white;
  gap: 50px;
}

/* สำหรับ Main (เนื้อหา) */
.main {
  background-color: #000737;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 10px;
}

.main .card {
  margin: 5px 5px;
  width: 700px;
  height: 100%;
  border-radius: 10px;
  background-color: #5a5a5a60;
  padding: 10px 15px;
}

.mainGridCard {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 0.2fr;
  gap: 1rem;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.mainLeftCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.workingImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 3px solid #ffffff;
  font-size: 14px;
}

.mainCenterCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mainGridCenterCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto-fit, 1fr));
  gap: 5px;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.mainMachineId {
  font-size: 1.4rem;
  font-weight: 900;
}
.mainProblemText,
.mainTextTagNumber,
.mainTextTagType {
  font-weight: 700;
}

.mainGridTagInfo {
  display: flex;
  gap: 30px;
}

.mainTextTagNumber span {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1.5px;
  font-weight: 400;
}

.mainProblemText span {
  font-weight: 400;
}

.mainTextTagType span {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1.5px;
  font-weight: 400;
}

.mainRightCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mainGridRightCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 3px;
  font-size: 14px;
  height: 100%;
  width: 100%;
}
.mainTextDate {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}
.mainTextTest {
  padding: 5px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  background-color: #dc143c;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainTextShift {
  font-weight: 700;
}
.mainTextShift span {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  font-weight: 400;
}

.mainForDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.mainForDetail .faAngleRight {
  transition: all 0.3s ease;
}
.mainForDetail .faAngleRight:hover {
  transform: translateX(2px);
  background-color: #ffd83c79;
}
