.container {
  width: 100%;
  height: 100vh;
  background-color: #0c4a6e;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.headerText {
  color: #ffe2b9;
  font-size: 5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
