@font-face {
  font-family: "Seed Sans TH";
  src: url("./assets/fonts/SeedSansTH.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Seed Sans TH", sans-serif;
}
