.container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #001a66;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  background-image: url("../../assets/images/homepage/Header-Homepage.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.headerContent {
  text-align: center;
  color: #ffffff;
  font-size: clamp(2rem, 5vw, 6rem);
  font-weight: bold;
  z-index: 1;
  padding: 40px 40px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  height: 500px;
}

.labels {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 10px;
}

.typeText {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.button {
  background-color: #ffea00;
  color: #001a66;
  border: none;
  border-radius: 8px;
  padding: 25px 30px;
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  transform: translateY(-5px);
  background-color: #ffd21d;
}

.gridContainer {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 50px;
  padding: 20px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #ffffff;
  border-radius: 10px;
  padding: 50px;
}
